.page-body {
    font-family: $main-font;
    color: getColor('primary');
}

.list {
    margin-top: $zeroing-indent;
    margin-bottom: $zeroing-indent;
    padding-left: $zeroing-indent;

    list-style: none;
}

.link {
    text-decoration: none;
}

.img--nt-indent {
    display: block;
}